<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
    <h2>メッセージ一覧</h2>
    <% @conversations.each do |conversation| %>
      <div class="talk">
        <% if conversation.target_user(current_user).present? %>
          <%= profile_img(conversation.target_user(current_user)) %>
          <%= link_to conversation.target_user(current_user).name, conversation_messages_path(conversation)%>
          <p><%= conversation.messages.last.body %></p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
