<div class="row new_topic">
  <%= form_for(@topic) do |f| %>
    <h4>Topicを投稿</h4>

    <%= f.text_area :content, class: "form-control" %>
    <br />
    <%= f.submit "投稿",  class: "save_picture btn btn-primary" %>
  <% end %>
</div>
