<div class="container">
  <div class="col col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
    <h1>Topics</h1>
    <br/>

    <%= render "layouts/flash" %>

    <%= render "form" %>
    <br />

    <div class="topics">
      <% @topics.each do |topic| %>
        <% if current_user == topic.user || current_user.following?(topic.user) %>
          <%= render :partial => "topic", :locals => { topic: topic } %>
          <br />
        <% end %>
      <% end %>
    </div>
  </div>
</div>
