<div class="container">
  <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
    <h1>ユーザリスト</h1>
    <br />

    <div class="user_list">
      <% @users.each do |user| %>
        <div class="user">
          <%= profile_img(user) %>
          <%= link_to "#{user.name}", user_path(user.id) %>
          <br />
          <% unless user == current_user %>
            <%= link_to "メッセージ", conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post', class: "btn btn-success" %>
          <% end %>
          <%= render "follow_form", user: user %>
        </div>
        <br />
      <% end %>
    </div>
  </div>
</div>
