// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user {
  background-color: white;
  -webkit-border-radius: 5px;    /* Safari,Google Chromeç”¨ */
  -moz-border-radius: 5px;
}

.user > img {
  width: 70px;
  height: 70px;
}

.user >  input {
  padding-left: 15px;
}
