// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user {
  background-color: white;
  -webkit-border-radius: 5px;    /* Safari,Google Chrome用 */
  -moz-border-radius: 5px;
  padding: 10px;
}

.user > img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.follow_button {
  text-align: right;
}
